@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  border-radius: 2px;
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(228, 228, 228, 0.5);
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.border-btn {
  color: #149E4C;
  border: 1px solid #ebebeb;
}
.border-btn:hover {
  border-color: #149E4C;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.title-1 {
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}

.about-text {
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  text-align: left;
  letter-spacing: 0.003em;
  font-family: Gilroy-Regular, sans-serif;
}
.about-text__text {
  margin-bottom: 26px;
}
.about-text__list {
  margin-bottom: 25px;
}
.about-text__list li {
  list-style-type: disc;
  list-style-position: inside;
}

.star {
  margin-right: 4px;
  mask-image: url("../img/star.svg");
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.star:last-child {
  margin-right: 0;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.category-page__header {
  padding-bottom: 38px;
}
.category-page__header .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
  letter-spacing: -0.01em;
}
.category-page__header .page-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  width: 49%;
  margin-top: 12px;
}

.top-casino {
  text-align: center;
}
.top-casino__filter {
  overflow: hidden;
  position: relative;
}
.top-casino__filter .top-casino__filter-wrap::-webkit-scrollbar {
  display: none;
}
.top-casino__filter-wrap {
  overflow-x: scroll;
  position: relative;
  width: calc(100% - 80px);
}
.top-casino__filter-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: -20px 10px 10px rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-casino__filter-btns .left-btn,
.top-casino__filter-btns .right-btn {
  mask-image: url("../img/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 9px;
  height: 13px;
  cursor: pointer;
}
.top-casino__filter-btns .left-btn {
  transform: rotate(180deg);
  background-color: #C8C8C8;
  margin-right: 33px;
}
.top-casino__filter-btns .right-btn {
  background-color: #050A0A;
}
.top-casino__filter-list {
  width: max-content;
  display: flex;
}
.top-casino__filter-item {
  font-size: 14px;
  color: #8b8b8b;
  border: 1px solid #E9E9E9;
  border-radius: 100px;
  padding: 12px 16px 9px;
  margin-right: 8px;
  cursor: pointer;
}
.top-casino__filter-item:last-child {
  margin-right: 0;
}
.top-casino__filter-item:hover {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.top-casino__filter .active {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.top-casino__filter .filter-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 10px 0 0;
}
.top-casino__filter .filter-new:before {
  background: url("../img/new-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-checked:before {
  background: url("../img/checked-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-licenced:before {
  background: url("../img/licensed-icon.png") no-repeat 0 0/contain;
}
.top-casino__head {
  display: flex;
  padding: 35px 0 23px 40px;
  text-align: left;
}
.top-casino__head-item {
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 12px;
  color: #8b8b8b;
  text-transform: uppercase;
}
.top-casino__head-item:nth-child(1) {
  width: 316px;
}
.top-casino__head-item:nth-child(2) {
  width: 312px;
}
.top-casino__list {
  text-align: left;
  padding: 0 40px;
}
.top-casino__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb;
}
.top-casino__list .top-first {
  background: #f8f8f8;
}
.top-casino__list .top-first .top-casino__name-icons-cup {
  background: #FFB933;
}
.top-casino__list .top-second {
  background: rgba(248, 248, 248, 0.6);
}
.top-casino__list .top-second .top-casino__name-icons-cup {
  background: #B6B6B6;
}
.top-casino__list .top-third {
  background: rgba(248, 248, 248, 0.2);
}
.top-casino__list .top-third .top-casino__name-icons-cup {
  background: #AB6C64;
}
.top-casino__list .top-first,
.top-casino__list .top-second,
.top-casino__list .top-third {
  margin: 0 -40px;
  padding: 25px 40px;
}
.top-casino__name {
  display: flex;
  align-items: center;
  width: 280px;
  max-width: 280px;
}
.top-casino__name-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.top-casino__name-wrap {
  margin-left: 20px;
}
.top-casino__name-title {
  font-size: 20px;
  color: #050A0A;
  letter-spacing: -0.02em;
}
.top-casino__name-icons {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.top-casino__name-icons-cup {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}
.top-casino__name-icons-cup:before {
  content: "";
  background: url("../img/cup.svg") no-repeat 0 0/contain;
  width: 8px;
  height: 8px;
}
.top-casino__name-icons-country {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
}
.top-casino__name-icons .country-in {
  background: url("../img/country-in.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons .country-ua {
  background: url("../img/country-ua.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons .country-fr {
  background: url("../img/country-fr.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons .country-ge {
  background: url("../img/country-ge.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons-rate {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 3px;
}
.top-casino__name-icons-rate:before {
  content: "";
  mask-image: url("../img/star.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #FFB933;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 8px 0 0;
}
.top-casino__name-icons .no-rating:before {
  background-color: #BFBFBF;
}
.top-casino__bonus {
  width: 250px;
}
.top-casino__bonus p {
  font-size: 18px;
  color: #050A0A;
}
.top-casino__bonus p + p {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 9px;
}
.top-casino__bonus-mob {
  display: none;
}
.top-casino .bonus-na .top-casino__bonus-desk p {
  font-size: 18px;
  line-height: 23px;
  color: #8b8b8b;
}
.top-casino .bonus-na .top-casino__bonus-desk p + p {
  display: none;
}
.top-casino .bonus-na .top-casino__bonus-mob p {
  font-size: 14px;
  line-height: 18px;
}
.top-casino .bonus-na .top-casino__bonus-mob p + p {
  display: none;
}
.top-casino__label {
  display: flex;
  align-items: center;
  max-width: 160px;
  width: 160px;
}
.top-casino__label-icon {
  width: 35px;
  height: 35px;
}
.top-casino__label .best-mobile {
  background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain;
}
.top-casino__label .bitcoin {
  background: url("../img/award_bitcoin.svg") no-repeat 0 0/contain;
}
.top-casino__label .users-choice {
  background: url("../img/award_users-choice.svg") no-repeat 0 0/contain;
}
.top-casino__label .lot-of-games {
  background: url("../img/award_lot-games.svg") no-repeat 0 0/contain;
}
.top-casino__label .best-new {
  background: url("../img/award_best-new.svg") no-repeat 0 0/contain;
}
.top-casino__label-text {
  margin-left: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
.top-casino .no-awards .top-casino__label-text {
  margin-left: 0;
}
.top-casino__buttons {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.top-casino__buttons-review {
  padding: 13px 40px 11px;
  margin-right: 18px;
}
.top-casino__buttons-play {
  padding: 12px 30px 11px;
}
.top-casino__more-btn {
  width: 100%;
  margin-top: 55px;
  border-radius: 2px;
  padding: 13px 80px 11px;
}
.top-casino__about-text {
  margin-top: 70px;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.paginator .prev,
.paginator .next {
  padding-top: 0;
}
.paginator .prev:before,
.paginator .next:before {
  content: "";
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 8px;
  height: 10px;
  background-color: #050A0A;
}
.paginator .prev:hover:before,
.paginator .next:hover:before {
  background-color: #FFFFFF;
}
.paginator .prev {
  margin-right: 20px;
}
.paginator .prev:before {
  mask-image: url("../img/arrow-right.svg");
  transform: rotate(180deg);
}
.paginator .next {
  margin-left: 20px;
}
.paginator .next:before {
  mask-image: url("../img/arrow-right.svg");
}
.paginator__item {
  width: 42px;
  height: 42px;
  border: 1px solid #ebebeb;
  margin-right: -1px;
  background: #FFFFFF;
  font-size: 16px;
  color: #050A0A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}
.paginator__item:hover {
  color: #FFFFFF;
  background: #149E4C;
  border-color: #149E4C;
  cursor: pointer;
}
.paginator .active-page {
  color: #FFFFFF;
  background: #149E4C;
  border-color: #149E4C;
}
.paginator .forbidden:before {
  background-color: #BFBFBF;
}
.paginator .forbidden:hover {
  color: #050A0A;
  background: #FFFFFF;
  border-color: #ebebeb;
  cursor: default;
}
.paginator .forbidden:hover:before {
  background-color: #BFBFBF;
}

.expert-review {
  margin-top: 80px;
  background: #f8f8f8;
  padding: 93px 0 70px;
}
.expert-review .content-center {
  display: flex;
  justify-content: space-between;
}
.expert-review__text {
  width: 45%;
}
.expert-review__text .title-1 {
  margin-bottom: 28px;
  letter-spacing: -0.02em;
}
.expert-review__text .about-text {
  margin-bottom: 25px;
}
.expert-review__social {
  margin-top: 43px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  display: flex;
  padding: 18px 0;
  max-width: 497px;
}
.expert-review__social-item {
  border-right: 1px solid #ebebeb;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
}
.expert-review__social-item:last-child {
  border-right: 0;
}
.expert-review__social-item a {
  background: #8b8b8b;
  mask-repeat: no-repeat;
  mask-size: contain;
  transition: 0.3s linear;
  width: 24px;
  height: 24px;
}
.expert-review__social-item a:hover {
  background: #149E4C;
}
.expert-review__social-item .fb {
  mask-image: url("../img/footer-facebook.svg");
}
.expert-review__social-item .insta {
  mask-image: url("../img/footer-insta.svg");
}
.expert-review__social-item .linkedin {
  mask-image: url("../img/footer-linkedin.svg");
}
.expert-review__social-item .twitter {
  mask-image: url("../img/footer-twitter.svg");
}
.expert-review__photo {
  width: 445px;
  position: relative;
  margin-right: 74px;
  margin-top: -23px;
}
.expert-review__photo .photo-text {
  width: 321px;
  background: #FFFFFF;
  border-radius: 6px;
  position: absolute;
  bottom: -1px;
  left: 204px;
  z-index: 1;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  background: #FFFFFF;
  padding: 21px 28px;
}

.seo-text {
  padding: 82px 0 53px;
}
.seo-text .section-title {
  font-family: Otomarine, sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #050A0A;
  margin-bottom: 9px;
}

.faq {
  padding: 83px 0 100px;
  text-align: center;
  background: #f8f8f8;
}
.faq .section-title {
  margin-bottom: 12px;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.faq .section-subtitle {
  width: 63%;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin: 0 auto;
}
.faq__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.faq__list {
  width: 49.5%;
}
.faq__list-item {
  list-style: none;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #FFFFFF;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}
.faq__list-item:hover {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item summary::-webkit-details-marker {
  display: none;
}
.faq__list-item > summary {
  list-style: none;
}
.faq__list-item[open] {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 27px 60px 24px 30px;
}
.faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.faq__list-item-text {
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 30px 30px;
}

@media screen and (max-width: 1200px) {
  .category-page__header {
    padding: 0 15px 38px;
  }
  .category-page .top-casino {
    padding: 0 15px 80px;
  }
  .category-page .top-casino__head {
    padding: 32px 0 22px 10px;
  }
  .category-page .top-casino__head-item:nth-child(1) {
    width: 288px;
  }
  .category-page .top-casino__head-item:nth-child(2) {
    width: 266px;
  }
  .category-page .top-casino__list {
    padding: 0;
  }
  .category-page .top-casino__list-item {
    padding: 25px 10px;
  }
  .category-page .top-casino__list .top-first,
.category-page .top-casino__list .top-second,
.category-page .top-casino__list .top-third {
    margin: 0;
    padding: 25px 10px;
  }
  .category-page .top-casino__name {
    width: 260px;
    max-width: 260px;
  }
  .category-page .top-casino__bonus {
    width: 235px;
  }
  .category-page .top-casino__label-text {
    margin-left: 10px;
  }
  .category-page .top-casino__buttons-review {
    padding: 13px 30px 10px;
  }
  .category-page .expert-review {
    padding: 93px 15px 70px;
  }
  .category-page .expert-review__text {
    width: 48%;
  }
  .category-page .expert-review__photo {
    margin-right: 0;
  }
  .category-page .expert-review__photo .photo-text {
    left: auto;
    right: 0;
  }
  .category-page .seo-text {
    padding: 82px 15px 53px;
  }
  .category-page .faq {
    padding: 83px 15px 100px;
  }
}
@media screen and (max-width: 1023px) {
  .title-1 {
    font-size: 36px;
    line-height: 40px;
  }

  .main-subtitle {
    width: 73%;
  }

  .title-2-oto {
    margin-bottom: 15px;
  }

  .btn {
    font-size: 12px;
  }

  .category-page__header .page-title {
    font-size: 36px;
    line-height: 40px;
  }
  .category-page__header .page-subtitle {
    width: 100%;
  }
  .category-page .top-casino {
    padding: 0 15px 50px;
  }
  .category-page .top-casino__filter-btns {
    height: 36px;
  }
  .category-page .top-casino__filter-item {
    padding: 10px 16px 7px;
  }
  .category-page .top-casino__filter .filter-icon:before {
    width: 15px;
    height: 15px;
    margin: -1px 7px 0 0;
  }
  .category-page .top-casino__head {
    padding: 32px 0 15px 10px;
  }
  .category-page .top-casino__head-item {
    font-size: 10px;
  }
  .category-page .top-casino__head-item:nth-child(1) {
    width: 220px;
  }
  .category-page .top-casino__head-item:nth-child(2) {
    width: 220px;
  }
  .category-page .top-casino__list-item {
    padding: 15px 10px;
  }
  .category-page .top-casino__list .top-first,
.category-page .top-casino__list .top-second,
.category-page .top-casino__list .top-third {
    padding: 15px 10px;
  }
  .category-page .top-casino__name {
    width: 210px;
    max-width: 210px;
  }
  .category-page .top-casino__name-img {
    width: 40px;
    height: 40px;
  }
  .category-page .top-casino__name-wrap {
    margin-left: 13px;
  }
  .category-page .top-casino__name-title {
    font-size: 16px;
    line-height: 18px;
  }
  .category-page .top-casino__name-icons {
    margin-top: 1px;
  }
  .category-page .top-casino__name-icons-cup {
    margin-right: 10px;
  }
  .category-page .top-casino__name-icons-country {
    margin-right: 10px;
  }
  .category-page .top-casino__name-icons-rate {
    font-size: 12px;
  }
  .category-page .top-casino__name-icons-rate:before {
    margin: -2px 6px 0 0;
  }
  .category-page .top-casino__bonus {
    width: 200px;
    max-width: 200px;
  }
  .category-page .top-casino__bonus p {
    font-size: 16px;
  }
  .category-page .top-casino__bonus p + p {
    font-size: 12px;
    margin-top: 3px;
  }
  .category-page .top-casino .bonus-na .top-casino__bonus-desk p {
    font-size: 16px;
  }
  .category-page .top-casino__label {
    max-width: 90px;
    width: 90px;
  }
  .category-page .top-casino__label-icon {
    width: 35px;
    height: 35px;
  }
  .category-page .top-casino__label-text {
    font-size: 12px;
    line-height: 14px;
    margin-left: 8px;
  }
  .category-page .top-casino__buttons-review {
    padding: 11px 20px 8px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .category-page .top-casino__buttons-play {
    padding: 12px 20px 9px;
    flex-shrink: 0;
  }
  .category-page .top-casino__about-text {
    margin-top: 40px;
  }
  .category-page .paginator {
    margin-top: 0;
  }
  .category-page .expert-review {
    margin-top: 50px;
    padding: 63px 15px 70px;
  }
  .category-page .expert-review .content-center {
    align-items: flex-start;
  }
  .category-page .expert-review__text {
    width: 50%;
  }
  .category-page .expert-review__text .title-1 {
    font-size: 32px;
    line-height: 38px;
  }
  .category-page .expert-review__photo {
    width: 330px;
    margin-top: 0;
  }
  .category-page .expert-review__photo .photo-text {
    bottom: auto;
    top: 80%;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    padding: 15px 20px;
  }
  .category-page .expert-review__social {
    padding: 10px 0;
  }
  .category-page .seo-text {
    padding: 52px 15px 35px;
  }
  .category-page .faq {
    padding: 56px 15px 60px;
  }
  .category-page .faq__wrap {
    margin-top: 30px;
  }
  .category-page .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .category-page .faq__list-item-title:before {
    right: 20px;
  }
  .category-page .faq__list-item-text {
    padding: 0 20px 30px;
  }
}
@media screen and (max-width: 767px) {
  .title-1 {
    font-size: 24px;
    line-height: 32px;
  }

  .title-2 {
    font-size: 20px;
    line-height: 25px;
  }

  .title-3 {
    font-size: 18px;
    line-height: 22px;
  }

  .main-subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  .title-2-oto {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 15px;
  }

  .about-text {
    font-size: 14px;
    line-height: 20px;
  }

  .category-page .page-title {
    font-size: 24px;
    line-height: 32px;
  }
  .category-page .page-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .category-page .top-casino {
    padding: 0 15px 30px;
  }
  .category-page .top-casino__filter {
    margin-right: -15px;
  }
  .category-page .top-casino__filter-item {
    margin-right: 6px;
  }
  .category-page .top-casino__filter-btns {
    display: none;
  }
  .category-page .top-casino__filter-wrap {
    width: 100%;
  }
  .category-page .top-casino__head {
    display: none;
  }
  .category-page .top-casino__list {
    margin: 20px -15px 0;
  }
  .category-page .top-casino__name {
    width: 160px;
    max-width: 160px;
    margin-right: 10px;
  }
  .category-page .top-casino__name-wrap {
    margin-left: 15px;
  }
  .category-page .top-casino__name-img {
    width: 38px;
    height: 38px;
  }
  .category-page .top-casino__name-title {
    font-size: 14px;
    line-height: 16px;
  }
  .category-page .top-casino__name-icons {
    margin-top: 3px;
  }
  .category-page .top-casino__name-icons-cup {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
  .category-page .top-casino__name-icons-cup:before {
    width: 7px;
    height: 7px;
  }
  .category-page .top-casino__name-icons-country {
    margin-right: 8px;
  }
  .category-page .top-casino__name-icons-rate {
    display: none;
  }
  .category-page .top-casino__name-icons-labelMob {
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
  }
  .category-page .top-casino__name-icons-labelMob:hover:before {
    content: attr(data-title);
    font-size: 12px;
    color: #050A0A;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(228, 228, 228, 0.7);
    border-radius: 4px;
    padding: 7px 10px 4px;
    position: absolute;
    top: -20px;
    left: 100%;
  }
  .category-page .top-casino__bonus {
    width: 100px;
    max-width: 100px;
    margin-right: 10px;
  }
  .category-page .top-casino__bonus p {
    font-size: 14px;
    line-height: 16px;
  }
  .category-page .top-casino__bonus-desk {
    display: none;
  }
  .category-page .top-casino__bonus-mob {
    display: block;
  }
  .category-page .top-casino .bonus-na .top-casino__bonus-mob p {
    color: #8b8b8b;
    font-size: 12px;
    line-height: 14px;
  }
  .category-page .top-casino__label {
    display: none;
  }
  .category-page .top-casino__buttons-review {
    display: none;
  }
  .category-page .top-casino__buttons-play {
    padding: 9px 11px 6px;
  }
  .category-page .top-casino__more-btn {
    margin-top: 25px;
  }
  .category-page .paginator {
    padding: 0 15px;
  }
  .category-page .paginator__item {
    font-size: 14px;
  }
  .category-page .paginator .prev {
    margin-right: auto;
  }
  .category-page .paginator .next {
    margin-left: auto;
  }
  .category-page .expert-review {
    padding: 63px 15px 100px;
  }
  .category-page .expert-review .content-center {
    flex-direction: column;
    align-items: center;
  }
  .category-page .expert-review__text {
    width: 100%;
  }
  .category-page .expert-review__text .title-1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .category-page .expert-review__social {
    margin: 30px auto 0;
  }
  .category-page .expert-review__photo {
    margin-top: 41px;
    width: 100%;
    max-width: 450px;
  }
  .category-page .expert-review__photo .photo-text {
    right: 10px;
  }
  .category-page .seo-text .section-title {
    font-size: 19px;
    line-height: 25px;
  }
  .category-page .faq .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .category-page .faq .section-subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .category-page .faq__wrap {
    flex-direction: column;
  }
  .category-page .faq__list {
    width: 100%;
  }
  .category-page .faq__list-item {
    margin-right: 0;
  }
  .category-page .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }
}
@media screen and (max-width: 374px) {
  .category-page .breadcrumbs {
    padding: 20px 0 13px;
  }
  .category-page .top-casino__name {
    width: 120px;
    max-width: 120px;
  }
  .category-page .top-casino__name-wrap {
    margin-left: 10px;
  }
  .category-page .top-casino__bonus {
    width: 80px;
    max-width: 80px;
  }
  .category-page .top-casino__buttons-play {
    padding: 9px 8px 6px;
  }
  .category-page .expert-review__photo .photo-text {
    left: 0;
    right: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
