@media screen and (max-width: 1200px)
  .category-page
    &__header
      padding: 0 15px 38px
    .top-casino
      padding: 0 15px 80px
      &__head
        padding: 32px 0 22px 10px
        &-item
          &:nth-child(1)
            width: 288px
          &:nth-child(2)
            width: 266px
      &__list
        padding: 0
        &-item
          padding: 25px 10px
        .top-first,
        .top-second,
        .top-third
          margin: 0
          padding: 25px 10px
      &__name
        width: 260px
        max-width: 260px
      &__bonus
        width: 235px
      &__label
        &-text
          margin-left: 10px
      &__buttons
        &-review
          padding: 13px 30px 10px
    .expert-review
      padding: 93px 15px 70px
      &__text
        width: 48%
      &__photo
        margin-right: 0
        .photo-text
          left: auto
          right: 0
    .seo-text
      padding: 82px 15px 53px
    .faq
      padding: 83px 15px 100px

@media screen and (max-width: 1023px)
  .title-1
    font-size: 36px
    line-height: 40px
  .main-subtitle
    width: 73%
  .title-2-oto
    margin-bottom: 15px
  .btn
    font-size: 12px
  .category-page
    &__header
      .page-title
        font-size: 36px
        line-height: 40px
      .page-subtitle
        width: 100%
    .top-casino
      padding: 0 15px 50px
      &__filter
        &-btns
          height: 36px
        &-item
          padding: 10px 16px 7px
        .filter-icon
          &:before
            width: 15px
            height: 15px
            margin: -1px 7px 0 0
      &__head
        padding: 32px 0 15px 10px
        &-item
          font-size: 10px
          &:nth-child(1)
            width: 220px
          &:nth-child(2)
            width: 220px
      &__list
        &-item
          padding: 15px 10px
        .top-first,
        .top-second,
        .top-third
          padding: 15px 10px
      &__name
        width: 210px
        max-width: 210px
        &-img
          width: 40px
          height: 40px
        &-wrap
          margin-left: 13px
        &-title
          font-size: 16px
          line-height: 18px
        &-icons
          margin-top: 1px
          &-cup
            margin-right: 10px
          &-country
            margin-right: 10px
          &-rate
            font-size: 12px
            &:before
              margin: -2px 6px 0 0
      &__bonus
        width: 200px
        max-width: 200px
        p
          font-size: 16px
        p+p
          font-size: 12px
          margin-top: 3px
      .bonus-na
        .top-casino__bonus-desk
          p
            font-size: 16px
      &__label
        max-width: 90px
        width: 90px
        &-icon
          width: 35px
          height: 35px
        &-text
          font-size: 12px
          line-height: 14px
          margin-left: 8px
      &__buttons
        &-review
          padding: 11px 20px 8px
          flex-shrink: 0
          margin-right: 10px
        &-play
          padding: 12px 20px 9px
          flex-shrink: 0
      &__about-text
        margin-top: 40px
    .paginator
      margin-top: 0
    .expert-review
      margin-top: 50px
      padding: 63px 15px 70px
      .content-center
        align-items: flex-start
      &__text
        width: 50%
        .title-1
          font-size: 32px
          line-height: 38px
      &__photo
        width: 330px
        margin-top: 0
        .photo-text
          bottom: auto
          top: 80%
          font-size: 14px
          line-height: 20px
          width: 300px
          padding: 15px 20px
      &__social
        padding: 10px 0
    .seo-text
      padding: 52px 15px 35px
    .faq
      padding: 56px 15px 60px
      &__wrap
        margin-top: 30px
      &__list
        &-item
          &-title
            padding: 16px 45px 13px 20px
            font-size: 15px
            &:before
              right: 20px
          &-text
            padding: 0 20px 30px

@media screen and (max-width: 767px)
  .title-1
    font-size: 24px
    line-height: 32px
  .title-2
    font-size: 20px
    line-height: 25px
  .title-3
    font-size: 18px
    line-height: 22px
  .main-subtitle
    width: 100%
    font-size: 14px
    line-height: 20px
  .title-2-oto
    font-size: 19px
    line-height: 25px
    margin-bottom: 15px
  .about-text
    font-size: 14px
    line-height: 20px
  .category-page
    &__header
    .page-title
      font-size: 24px
      line-height: 32px
    .page-subtitle
      font-size: 14px
      line-height: 20px
    .top-casino
      padding: 0 15px 30px
      &__filter
        margin-right: -15px
        &-item
          margin-right: 6px
        &-btns
          display: none
        &-wrap
          width: 100%
      &__head
        display: none
      &__list
        margin: 20px -15px 0
      &__name
        width: 160px
        max-width: 160px
        margin-right: 10px
        &-wrap
          margin-left: 15px
        &-img
          width: 38px
          height: 38px
        &-title
          font-size: 14px
          line-height: 16px
        &-icons
          margin-top: 3px
          &-cup
            width: 13px
            height: 13px
            margin-right: 8px
            &:before
              width: 7px
              height: 7px
          &-country
            margin-right: 8px
          &-rate
            display: none
          &-labelMob
            display: block
            width: 15px
            height: 15px
            position: relative
            &:hover
              &:before
                content: attr(data-title)
                font-size: 12px
                color: $dark
                background: $white
                box-shadow: 0 4px 30px rgba(228,228,228,.7)
                border-radius: 4px
                padding: 7px 10px 4px
                position: absolute
                top: -20px
                left: 100%
      &__bonus
        width: 100px
        max-width: 100px
        margin-right: 10px
        p
          font-size: 14px
          line-height: 16px
        &-desk
          display: none
        &-mob
          display: block
      .bonus-na
        .top-casino__bonus-mob
          p
            color: $gray-semi
            font-size: 12px
            line-height: 14px
      &__label
        display: none
      &__buttons
        &-review
          display: none
        &-play
          padding: 9px 11px 6px
      &__more-btn
        margin-top: 25px
    .paginator
      padding: 0 15px
      &__item
        font-size: 14px
      .prev
        margin-right: auto
      .next
        margin-left: auto
    .expert-review
      padding: 63px 15px 100px
      .content-center
        flex-direction: column
        align-items: center
      &__text
        width: 100%
        .title-1
          font-size: 24px
          line-height: 32px
          margin-bottom: 15px
      &__social
        margin: 30px auto 0
      &__photo
        margin-top: 41px
        width: 100%
        max-width: 450px
        .photo-text
          right: 10px
    .seo-text
      .section-title
        font-size: 19px
        line-height: 25px
    .faq
      .section-title
        font-size: 24px
        line-height: 32px
      .section-subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
      &__wrap
        flex-direction: column
      &__list
        width: 100%
        &-item
          margin-right: 0
          &-title
            font-size: 14px
            padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .category-page
    .breadcrumbs
      padding: 20px 0 13px
    .top-casino
      &__name
        width: 120px
        max-width: 120px
        &-wrap
          margin-left: 10px
      &__bonus
        width: 80px
        max-width: 80px
      &__buttons
        &-play
          padding: 9px 8px 6px
    .expert-review
      &__photo
        .photo-text
          left: 0
          right: 0
          width: 100%