$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$yellow-bg: #fef3e2
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .3s linear
  display: inline-block
  border-radius: 2px

.box-shadow
  box-shadow: 0 4px 20px rgba(228,228,228,.5)

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.title-1
  font-size: 40px
  line-height: 45px
  color: $dark
  font-family: $font-otomarine

.about-text
  font-size: 16px
  line-height: 22px
  color: $gray-semi
  text-align: left
  letter-spacing: 0.003em
  font-family: $font-gilroy-regular
  &__text
    margin-bottom: 26px
  &__list
    margin-bottom: 25px
    li
      list-style-type: disc
      list-style-position: inside

.star
  margin-right: 4px
  mask-image: url("../img/star.svg")
  width: 15px
  height: 15px
  background-color: rgba(0,0,0,.1)
  &:last-child
    margin-right: 0

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.category-page
  &__header
    padding-bottom: 38px
    .page-title
      font-size: 44px
      line-height: 52px
      color: $dark
      font-family: $font-otomarine
      letter-spacing: -0.01em
    .page-subtitle
      font-family: $font-gilroy-regular
      font-size: 16px
      line-height: 22px
      color: $gray-semi
      width: 49%
      margin-top: 12px

.top-casino
  text-align: center
  &__filter
    overflow: hidden
    position: relative
    .top-casino__filter-wrap::-webkit-scrollbar
      display: none
    &-wrap
      overflow-x: scroll
      position: relative
      width: calc(100% - 80px)
    &-btns
      position: absolute
      top: 0
      right: 0
      width: 80px
      height: 40px
      background: $white
      border: 1px solid #E9E9E9
      box-shadow: -20px 10px 10px rgba(255,255,255,.9)
      border-radius: 100px
      z-index: 2
      display: flex
      justify-content: center
      align-items: center
      .left-btn,
      .right-btn
        mask-image: url("../img/arrow-right.svg")
        mask-repeat: no-repeat
        mask-size: contain
        width: 9px
        height: 13px
        cursor: pointer
      .left-btn
        transform: rotate(180deg)
        background-color: #C8C8C8
        margin-right: 33px
      .right-btn
        background-color: $dark
    &-list
      width: max-content
      display: flex
    &-item
      font-size: 14px
      color: $gray-semi
      border: 1px solid #E9E9E9
      border-radius: 100px
      padding: 12px 16px 9px
      margin-right: 8px
      cursor: pointer
      &:last-child
        margin-right: 0
      &:hover
        background: #F7FBF9
        color: $green-default
        border-color: $green-default
    .active
      background: #F7FBF9
      color: $green-default
      border-color: $green-default
    .filter-icon
      &:before
        content: ""
        width: 20px
        height: 20px
        display: inline-block
        vertical-align: top
        margin: -3px 10px 0 0
    .filter-new
      &:before
        background: url("../img/new-icon.png") no-repeat 0 0/contain
    .filter-checked
      &:before
        background: url("../img/checked-icon.png") no-repeat 0 0/contain
    .filter-licenced
      &:before
        background: url("../img/licensed-icon.png") no-repeat 0 0/contain
  &__head
    display: flex
    padding: 35px 0 23px 40px
    text-align: left
    &-item
      font-family: $font-gilroy-semibold
      font-size: 12px
      color: $gray-semi
      text-transform: uppercase
      &:nth-child(1)
        width: 316px
      &:nth-child(2)
        width: 312px
  &__list
    text-align: left
    padding: 0 40px
    &-item
      display: flex
      align-items: center
      justify-content: space-between
      padding: 25px 0
      border-bottom: 1px solid $gray-light
    .top-first
      background: $light
      .top-casino__name-icons-cup
        background: #FFB933
    .top-second
      background: rgba($light,.6)
      .top-casino__name-icons-cup
        background: #B6B6B6
    .top-third
      background: rgba($light,.2)
      .top-casino__name-icons-cup
        background: #AB6C64
    .top-first,
    .top-second,
    .top-third
      margin: 0 -40px
      padding: 25px 40px
  &__name
    display: flex
    align-items: center
    width: 280px
    max-width: 280px
    &-img
      width: 60px
      height: 60px
      border-radius: 50%
      overflow: hidden
    &-wrap
      margin-left: 20px
    &-title
      font-size: 20px
      color: $dark
      letter-spacing: -0.02em
    &-icons
      margin-top: 5px
      display: flex
      align-items: center
      &-cup
        width: 16px
        height: 16px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        margin-right: 9px
        &:before
          content: ""
          background: url("../img/cup.svg") no-repeat 0 0/contain
          width: 8px
          height: 8px
      &-country
        width: 16px
        height: 16px
        border-radius: 50%
        margin-right: 16px
      .country-in
        background: url("../img/country-in.svg") no-repeat 0 0/contain
      .country-ua
        background: url("../img/country-ua.svg") no-repeat 0 0/contain
      .country-fr
        background: url("../img/country-fr.svg") no-repeat 0 0/contain
      .country-ge
        background: url("../img/country-ge.svg") no-repeat 0 0/contain
      &-rate
        font-size: 14px
        color: $gray-semi
        margin-top: 3px
        &:before
          content: ""
          mask-image: url("../img/star.svg")
          mask-repeat: no-repeat
          mask-size: contain
          background-color: #FFB933
          width: 16px
          height: 16px
          display: inline-block
          vertical-align: top
          margin: -1px 8px 0 0
      .no-rating
        &:before
          background-color: #BFBFBF
  &__bonus
    width: 250px
    p
      font-size: 18px
      color: $dark
    p+p
      font-size: 14px
      color: $gray-semi
      margin-top: 9px
    &-mob
      display: none
  .bonus-na
    .top-casino__bonus-desk
      p
        font-size: 18px
        line-height: 23px
        color: $gray-semi
      p+p
        display: none
    .top-casino__bonus-mob
      p
        font-size: 14px
        line-height: 18px
      p+p
        display: none
  &__label
    display: flex
    align-items: center
    max-width: 160px
    width: 160px
    &-icon
      width: 35px
      height: 35px
    .best-mobile
      background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain
    .bitcoin
      background: url("../img/award_bitcoin.svg") no-repeat 0 0/contain
    .users-choice
      background: url("../img/award_users-choice.svg") no-repeat 0 0/contain
    .lot-of-games
      background: url("../img/award_lot-games.svg") no-repeat 0 0/contain
    .best-new
      background: url("../img/award_best-new.svg") no-repeat 0 0/contain
    &-text
      margin-left: 17px
      font-size: 14px
      line-height: 20px
      color: $gray-semi
  .no-awards
    .top-casino__label-text
      margin-left: 0
  &__buttons
    display: flex
    align-items: center
    font-size: 14px
    &-review
      padding: 13px 40px 11px
      margin-right: 18px
    &-play
      padding: 12px 30px 11px
  &__more-btn
    width: 100%
    margin-top: 55px
    border-radius: 2px
    padding: 13px 80px 11px
  &__about-text
    margin-top: 70px

.paginator
  display: flex
  justify-content: center
  margin-top: 50px
  .prev,
  .next
    padding-top: 0
    &:before
      content: ""
      mask-repeat: no-repeat
      mask-size: contain
      width: 8px
      height: 10px
      background-color: $dark
    &:hover
      &:before
        background-color: $white
  .prev
    margin-right: 20px
    &:before
      mask-image: url("../img/arrow-right.svg")
      transform: rotate(180deg)
  .next
    margin-left: 20px
    &:before
      mask-image: url("../img/arrow-right.svg")
  &__item
    width: 42px
    height: 42px
    border: 1px solid $gray-light
    margin-right: -1px
    background: $white
    font-size: 16px
    color: $dark
    display: flex
    justify-content: center
    align-items: center
    padding-top: 4px
    &:hover
      color: $white
      background: $green-default
      border-color: $green-default
      cursor: pointer
  .active-page
    color: $white
    background: $green-default
    border-color: $green-default
  .forbidden
    &:before
      background-color: #BFBFBF
    &:hover
      color: $dark
      background: $white
      border-color: $gray-light
      cursor: default
      &:before
        background-color: #BFBFBF

.expert-review
  margin-top: 80px
  background: $light
  padding: 93px 0 70px
  .content-center
    display: flex
    justify-content: space-between
  &__text
    width: 45%
    .title-1
      margin-bottom: 28px
      letter-spacing: -0.02em
    .about-text
      margin-bottom: 25px
  &__social
    margin-top: 43px
    border: 1px solid $gray-light
    border-radius: 2px
    display: flex
    padding: 18px 0
    max-width: 497px
    &-item
      border-right: 1px solid $gray-light
      width: 25%
      display: flex
      justify-content: center
      align-items: center
      padding: 9px 0
      &:last-child
        border-right: 0
      a
        background: $gray-semi
        mask-repeat: no-repeat
        mask-size: contain
        transition: .3s linear
        width: 24px
        height: 24px
        &:hover
          background: $green-default
      .fb
        mask-image: url("../img/footer-facebook.svg")
      .insta
        mask-image: url("../img/footer-insta.svg")
      .linkedin
        mask-image: url("../img/footer-linkedin.svg")
      .twitter
        mask-image: url("../img/footer-twitter.svg")
  &__photo
    width: 445px
    position: relative
    margin-right: 74px
    margin-top: -23px
    .photo-text
      width: 321px
      background: $white
      border-radius: 6px
      position: absolute
      bottom: -1px
      left: 204px
      z-index: 1
      font-size: 16px
      line-height: 22px
      color: $gray-semi
      background: $white
      padding: 21px 28px

.seo-text
  padding: 82px 0 53px
  .section-title
    font-family: $font-otomarine
    font-size: 28px
    line-height: 32px
    color: $dark
    margin-bottom: 9px

.faq
  padding: 83px 0 100px
  text-align: center
  background: $light
  .section-title
    margin-bottom: 12px
    font-size: 44px
    line-height: 52px
    color: $dark
    font-family: $font-otomarine
  .section-subtitle
    width: 63%
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    margin: 0 auto
  &__wrap
    display: flex
    justify-content: space-between
    margin-top: 40px
  &__list
    width: 49.5%
    &-item
      list-style: none
      border-radius: 3px
      margin-bottom: 10px
      background: $white
      text-align: left
      cursor: pointer
      transition: box-shadow .2s linear
      &:hover
        box-shadow: 0 4px 30px rgba(228,228,228,1)
      summary::-webkit-details-marker
        display: none
      > summary
        list-style: none
      &[open]
        box-shadow: 0 4px 30px rgba(228,228,228,1)
        > summary:before
          transform: rotate(180deg)
      &-title
        font-size: 16px
        color: $dark
        outline: none
        position: relative
        padding: 27px 60px 24px 30px
        &:before
          content: ""
          mask-image: url("../img/arrow-down.svg")
          mask-size: 14px 9px
          background-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: block
          position: absolute
          top: 45%
          right: 28px
      &-text
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        padding: 0 30px 30px