.category-page
  .category-page__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Category
      h1.page-title Top online casinos for India in 2021
      p.page-subtitle.
        Check out our hand-picked list of favorites for the month
        that has the most generous no deposit, free spins and / or
        matching bonuses:
  .category-page__content
    .content-center
      .top-casino
        .content-center
          .top-casino__filter
            .top-casino__filter-btns
              .left-btn
              .right-btn
            .top-casino__filter-wrap
              ul.top-casino__filter-list
                li.top-casino__filter-item.border-btn.active All
                li.top-casino__filter-item.border-btn.filter-icon.filter-new New
                li.top-casino__filter-item.border-btn.filter-icon.filter-checked Checked
                li.top-casino__filter-item.border-btn.filter-icon.filter-licenced Licensed
                li.top-casino__filter-item.border-btn Private
                li.top-casino__filter-item.border-btn Without Deposit
                li.top-casino__filter-item.border-btn The most reliable
                li.top-casino__filter-item.border-btn For newbies
                li.top-casino__filter-item.border-btn Popular Casino
                li.top-casino__filter-item.border-btn WebMoney
                li.top-casino__filter-item.border-btn The most reliable
                li.top-casino__filter-item.border-btn For newbies
                li.top-casino__filter-item.border-btn Popular Casino
                li.top-casino__filter-item.border-btn WebMoney
          .top-casino__head
            .top-casino__head-item casino name
            .top-casino__head-item welcome bonus
            .top-casino__head-item awards
          ul.top-casino__list
            li.top-casino__list-item.top-first
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-1.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Bao Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-cup
                    .top-casino__name-icons-country.country-in
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.best-mobile
                p.top-casino__label-text Best #[br]Mobile Casino
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item.top-second
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-2.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Parimatch Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-cup
                    .top-casino__name-icons-country.country-ua
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label.no-awards
                p.top-casino__label-text Casino has no awards yet
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item.top-third
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-3.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Betsson Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-cup
                    .top-casino__name-icons-country.country-in
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.users-choice
                p.top-casino__label-text Users choice
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-4.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Betsafe Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-fr
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.bitcoin
                p.top-casino__label-text Bitcoin Casino
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-5.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Bit Starz Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-ua
                    .top-casino__name-icons-rate.no-rating No rating
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.lot-of-games
                p.top-casino__label-text A lot of games
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-6.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Cookie Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-fr
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.best-new
                p.top-casino__label-text Best New Casino
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-7.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Slotnite Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-ua
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus.bonus-na
                .top-casino__bonus-desk
                  p Bonuses are currently not available
                .top-casino__bonus-mob
                  p Bonuses are currently not available
              .top-casino__label
                .top-casino__label-icon.best-mobile
                p.top-casino__label-text Best #[br]Mobile casino
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-8.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Cosmowin
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-ua
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.bitcoin
                p.top-casino__label-text Bitcoin Casino
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-1.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Bao Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-in
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.users-choice
                p.top-casino__label-text Users choice
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-1.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Bao Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-ge
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__label
                .top-casino__label-icon.best-new
                p.top-casino__label-text Best New Casino
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      .paginator
        .paginator__item.prev.unactive.forbidden
        .paginator__item.active-page 1
        .paginator__item 2
        .paginator__item 3
        .paginator__item.forbidden ...
        .paginator__item 10
        .paginator__item.next
    .expert-review
      .content-center
        .expert-review__text
          p.title-1 Hello, I am the author of the “India Casino”
          p.about-text.
            The best new casinos added to our listing, including
            detailed casino reviews and ratings, bonuses, promotions,
            and experiences by real players right at your fingertips.
            Here you can find the top online casinos we have included
            in our database just recently.
          p.about-text.
            We update this list frequently so remember to keep an eye
            on it and don’t miss out on a chance to try your luck at
            some of the most amazing casinos in the world.
          ul.expert-review__social
            li.expert-review__social-item
              a(href="#" target="_blank").fb
            li.expert-review__social-item
              a(href="#" target="_blank").twitter
            li.expert-review__social-item
              a(href="#" target="_blank").linkedin
            li.expert-review__social-item
              a(href="#" target="_blank").insta
        .expert-review__photo
          .photo-text.
            The best new casinos added to our listing, including
            detailed casino listing, including detailed casino
            reviews and ratings, bonuses
          img(src="img/expert-photo.png" alt="Ivan Gucev")
    .seo-text.about-text
      .content-center
        h2.section-title Best New Online Casinos Australia 2020
        p.about-text__text.
          The best new casinos added to our listing, including
          detailed casino reviews and ratings, bonuses, promotions,
          and experiences by real players right at your fingertips.
          Here you can find the top online casinos we have included
          in our database just recently. We update this list
          frequently so remember to keep an eye on it and don’t
          miss out on a chance to try your luck at some of the most
          amazing casinos in the world.
        p.about-text__text.
          With a competitive market like the online casino industry,
          you cay never get bored for the choice of online casinos
          is incredibly vast. There are new online casinos emerging
          every day, so there is always a new place where you can
          try your luck.
        p.about-text__text.
          Highlighted below are some of the criteria used to evaluate
          whether a casino platform is well suited for our readers:
        ul.about-text__list
          li First impression of the site
          li The process of signing up for the site
          li Game selection available on the platform
          li Bonuses and promotions offered
          li Safety and security
          li Online customer support
          li Withdrawal / withdrawal procedure
        p.about-text__text.
          It is expected that some of the sections mentioned above
          will overlap. This is why, after writing a comprehensive
          review of a casino site, we take a fresh look at the sites
          and examine as a whole. Once that is done, we will give the
          site a review.
    .faq
      .content-center
        h2.section-title FAQ
        p.section-subtitle.
          The best new casinos added to our listing, including detailed
          casino reviews and ratings, bonuses, promotions.
        .faq__wrap
          .faq__list
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What age do you need to be to gamble online?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What kinds of games are available?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                How do I know if I'm addicted to gambling?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
          .faq__list
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What age do you need to be to gamble online?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What kinds of games are available?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                How do I know if I'm addicted to gambling?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text